* {
  margin: 0;
  padding: 0;
}

.container {
  width: 420px;
  margin: 20px auto 0;
}

.container > .header {
  margin-top: 20px;
  padding: 15px;
  line-height: 35px;
  border-bottom: 1px solid black;
  font-family: "IBM Plex Sans", sans-serif;
}

.input-form {
  padding-top: 18px;
  margin: 0 18px;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
}

.common-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 14px;
  border-radius: 5px;
  font-size: 1em;
  border: 0.5px solid black;
}

#submit {
  margin-top: 8px;
  background-color: #010101;
  color: aliceblue;
  margin-bottom: 15px;
  font-family: "Mukta", sans-serif;
  cursor: pointer;
}

span {
  color: rgb(43, 86, 226);
}
